In [164]:
import pandas as pd
import numpy as np
from datetime import time

In [102]:
datos = {'nombre':['María', 'Luis', 'Carmen', 'Antonio'], 'edad':[18, 22, 20, 21], 'grado':['Economía', 'Medicina', 'Arquitectura', 'Economía'], 
         'correo':['maria@gmail.com', 'luis@yahoo.es', 'carmen@gmail.com', 'antonio@gmail.com']}

In [103]:
df1=pd.DataFrame(datos)

In [104]:
print(df1)

    nombre  edad         grado             correo
0    María    18      Economía    maria@gmail.com
1     Luis    22      Medicina      luis@yahoo.es
2   Carmen    20  Arquitectura   carmen@gmail.com
3  Antonio    21      Economía  antonio@gmail.com

In [105]:
datos2=[['María', 18], ['Luis', 22], ['Carmen', 20]]

In [106]:
df2=pd.DataFrame(datos2)

In [107]:
print(df2)

        0   1
0   María  18
1    Luis  22
2  Carmen  20

In [108]:
df2=pd.DataFrame(datos2, columns=['nombre', 'edad'])

In [109]:
print(df2)

   nombre  edad
0   María    18
1    Luis    22
2  Carmen    20

In [110]:
dat3=[{'Nombre':'María', 'Edad':18}, {'Nombre':'Luis', 'Edad':22}, {'Nombre':'Carmen'}]

In [111]:
df3=pd.DataFrame(dat3)

In [112]:
print(df3)

   Nombre  Edad
0   María  18.0
1    Luis  22.0
2  Carmen   NaN

In [113]:
A1=np.array([0, 1, 2, 3, 4])

In [114]:
print(A1)

[0 1 2 3 4]

In [115]:
a2=np.array([[0, 1, 2, 3, 4], [5, 6, 7, 8, 9, ]])

In [116]:
print(a2)

[[0 1 2 3 4]
 [5 6 7 8 9]]

In [117]:
print(a2[1,2])

7

In [118]:
a3=np.random.randn(4,3)

In [119]:
print(a3)

[[ 1.17824425 -0.40052515  0.44638034]
 [-0.20530519  0.67733365  0.7259815 ]
 [ 1.11983324 -1.26010174  0.08632417]
 [-0.25167661  0.34051597  1.19969792]]

In [120]:
dfa=pd.DataFrame(a3, columns=['a', 'b', 'c'])

In [121]:
print(dfa)

          a         b         c
0  1.178244 -0.400525  0.446380
1 -0.205305  0.677334  0.725982
2  1.119833 -1.260102  0.086324
3 -0.251677  0.340516  1.199698

In [122]:
df5=pd.read_csv('colesteroles.csv', sep=';', decimal=',')

In [123]:
print(df5)

                             nombre  edad sexo   peso  altura  colesterol
0      José Luis Martínez Izquierdo    18    H   85.0    1.79       182.0
1                    Rosa Díaz Díaz    32    M   65.0    1.73       232.0
2             Javier García Sánchez    24    H    NaN    1.81       191.0
3               Carmen López Pinzón    35    M   65.0    1.70       200.0
4              Marisa López Collado    46    M   51.0    1.58       148.0
5                 Antonio Ruiz Cruz    68    H   66.0    1.74       249.0
6           Antonio Fernández Ocaña    51    H   62.0    1.72       276.0
7             Pilar Martín González    22    M   60.0    1.66         NaN
8              Pedro Gálvez Tenorio    35    H   90.0    1.94       241.0
9           Santiago Reillo Manzano    46    H   75.0    1.85       280.0
10            Macarena Álvarez Luna    53    M   55.0    1.62       262.0
11       José María de la Guía Sanz    58    H   78.0    1.87       198.0
12  Miguel Angel Cuadrado Gutiérrez    27    H  109.0    1.98       210.0
13            Carolina Rubio Moreno    20    M   61.0    1.77       194.0

In [124]:
df5["altura"]+=1

In [125]:
print(df5)

                             nombre  edad sexo   peso  altura  colesterol
0      José Luis Martínez Izquierdo    18    H   85.0    2.79       182.0
1                    Rosa Díaz Díaz    32    M   65.0    2.73       232.0
2             Javier García Sánchez    24    H    NaN    2.81       191.0
3               Carmen López Pinzón    35    M   65.0    2.70       200.0
4              Marisa López Collado    46    M   51.0    2.58       148.0
5                 Antonio Ruiz Cruz    68    H   66.0    2.74       249.0
6           Antonio Fernández Ocaña    51    H   62.0    2.72       276.0
7             Pilar Martín González    22    M   60.0    2.66         NaN
8              Pedro Gálvez Tenorio    35    H   90.0    2.94       241.0
9           Santiago Reillo Manzano    46    H   75.0    2.85       280.0
10            Macarena Álvarez Luna    53    M   55.0    2.62       262.0
11       José María de la Guía Sanz    58    H   78.0    2.87       198.0
12  Miguel Angel Cuadrado Gutiérrez    27    H  109.0    2.98       210.0
13            Carolina Rubio Moreno    20    M   61.0    2.77       194.0

In [126]:
df5.to_csv('colesteroles2.csv', sep=";", decimal=",")

In [127]:
!python -m pip install openpyxl

Requirement already satisfied: openpyxl in c:\python\lib\site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in c:\python\lib\site-packages (from openpyxl) (2.0.0)

[notice] A new release of pip is available: 25.1.1 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [128]:
df5.to_excel('colesteroles.xlsx', header=False, index=False, sheet_name='hoja1')

In [129]:
df5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   nombre      14 non-null     object
 1   edad        14 non-null     int64
 2   sexo        14 non-null     object
 3   peso        13 non-null     float64
 4   altura      14 non-null     float64
 5   colesterol  13 non-null     float64
dtypes: float64(3), int64(1), object(2)
memory usage: 804.0+ bytes

In [130]:
df5.shape

(14, 6)

In [131]:
df5.size

84

In [132]:
df5.columns

Index(['nombre', 'edad', 'sexo', 'peso', 'altura', 'colesterol'], dtype='object')

In [133]:
df5.index

RangeIndex(start=0, stop=14, step=1)

In [134]:
df5.dtypes

nombre         object
edad            int64
sexo           object
peso          float64
altura        float64
colesterol    float64
dtype: object

In [135]:
df5.head(1)

                         nombre  edad sexo  peso  altura  colesterol
0  José Luis Martínez Izquierdo    18    H  85.0    2.79       182.0

In [136]:
df5.tail(3)

                             nombre  edad sexo   peso  altura  colesterol
11       José María de la Guía Sanz    58    H   78.0    2.87       198.0
12  Miguel Angel Cuadrado Gutiérrez    27    H  109.0    2.98       210.0
13            Carolina Rubio Moreno    20    M   61.0    2.77       194.0

In [137]:
df5.rename(columns={'nombre': 'nombre completo', 'altura': 'estatura'}, index={0 :200, 13:213})

                     nombre completo  edad sexo   peso  estatura  colesterol
200     José Luis Martínez Izquierdo    18    H   85.0      2.79       182.0
1                     Rosa Díaz Díaz    32    M   65.0      2.73       232.0
2              Javier García Sánchez    24    H    NaN      2.81       191.0
3                Carmen López Pinzón    35    M   65.0      2.70       200.0
4               Marisa López Collado    46    M   51.0      2.58       148.0
5                  Antonio Ruiz Cruz    68    H   66.0      2.74       249.0
6            Antonio Fernández Ocaña    51    H   62.0      2.72       276.0
7              Pilar Martín González    22    M   60.0      2.66         NaN
8               Pedro Gálvez Tenorio    35    H   90.0      2.94       241.0
9            Santiago Reillo Manzano    46    H   75.0      2.85       280.0
10             Macarena Álvarez Luna    53    M   55.0      2.62       262.0
11        José María de la Guía Sanz    58    H   78.0      2.87       198.0
12   Miguel Angel Cuadrado Gutiérrez    27    H  109.0      2.98       210.0
213            Carolina Rubio Moreno    20    M   61.0      2.77       194.0

In [138]:
print(df5)

                             nombre  edad sexo   peso  altura  colesterol
0      José Luis Martínez Izquierdo    18    H   85.0    2.79       182.0
1                    Rosa Díaz Díaz    32    M   65.0    2.73       232.0
2             Javier García Sánchez    24    H    NaN    2.81       191.0
3               Carmen López Pinzón    35    M   65.0    2.70       200.0
4              Marisa López Collado    46    M   51.0    2.58       148.0
5                 Antonio Ruiz Cruz    68    H   66.0    2.74       249.0
6           Antonio Fernández Ocaña    51    H   62.0    2.72       276.0
7             Pilar Martín González    22    M   60.0    2.66         NaN
8              Pedro Gálvez Tenorio    35    H   90.0    2.94       241.0
9           Santiago Reillo Manzano    46    H   75.0    2.85       280.0
10            Macarena Álvarez Luna    53    M   55.0    2.62       262.0
11       José María de la Guía Sanz    58    H   78.0    2.87       198.0
12  Miguel Angel Cuadrado Gutiérrez    27    H  109.0    2.98       210.0
13            Carolina Rubio Moreno    20    M   61.0    2.77       194.0

In [139]:
df5_2=df5.set_index('nombre').head()

In [140]:
df5_2.index

Index(['José Luis Martínez Izquierdo', 'Rosa Díaz Díaz',
       'Javier García Sánchez', 'Carmen López Pinzón', 'Marisa López Collado'],
      dtype='object', name='nombre')

In [141]:
print(df5_2)

                              edad sexo  peso  altura  colesterol
nombre
José Luis Martínez Izquierdo    18    H  85.0    2.79       182.0
Rosa Díaz Díaz                  32    M  65.0    2.73       232.0
Javier García Sánchez           24    H   NaN    2.81       191.0
Carmen López Pinzón             35    M  65.0    2.70       200.0
Marisa López Collado            46    M  51.0    2.58       148.0

In [142]:
df5_2.loc['José Luis Martínez Izquierdo']

edad             18
sexo              H
peso           85.0
altura         2.79
colesterol    182.0
Name: José Luis Martínez Izquierdo, dtype: object

In [143]:
df5.reindex(index=[4, 3, 1], columns=['nombre', 'tension', 'colesterol'])

                 nombre  tension  colesterol
4  Marisa López Collado      NaN       148.0
3   Carmen López Pinzón      NaN       200.0
1        Rosa Díaz Díaz      NaN       232.0

In [144]:
df5.iloc[1, 3]

np.float64(65.0)

In [145]:
print(df5)

                             nombre  edad sexo   peso  altura  colesterol
0      José Luis Martínez Izquierdo    18    H   85.0    2.79       182.0
1                    Rosa Díaz Díaz    32    M   65.0    2.73       232.0
2             Javier García Sánchez    24    H    NaN    2.81       191.0
3               Carmen López Pinzón    35    M   65.0    2.70       200.0
4              Marisa López Collado    46    M   51.0    2.58       148.0
5                 Antonio Ruiz Cruz    68    H   66.0    2.74       249.0
6           Antonio Fernández Ocaña    51    H   62.0    2.72       276.0
7             Pilar Martín González    22    M   60.0    2.66         NaN
8              Pedro Gálvez Tenorio    35    H   90.0    2.94       241.0
9           Santiago Reillo Manzano    46    H   75.0    2.85       280.0
10            Macarena Álvarez Luna    53    M   55.0    2.62       262.0
11       José María de la Guía Sanz    58    H   78.0    2.87       198.0
12  Miguel Angel Cuadrado Gutiérrez    27    H  109.0    2.98       210.0
13            Carolina Rubio Moreno    20    M   61.0    2.77       194.0

In [146]:
df5.loc[1, 'peso']

np.float64(65.0)

In [147]:
df5['diabetes']=pd.Series([False, False, True, False, True])

In [148]:
print(df5)

                             nombre  edad sexo   peso  altura  colesterol  \
0      José Luis Martínez Izquierdo    18    H   85.0    2.79       182.0
1                    Rosa Díaz Díaz    32    M   65.0    2.73       232.0
2             Javier García Sánchez    24    H    NaN    2.81       191.0
3               Carmen López Pinzón    35    M   65.0    2.70       200.0
4              Marisa López Collado    46    M   51.0    2.58       148.0
5                 Antonio Ruiz Cruz    68    H   66.0    2.74       249.0
6           Antonio Fernández Ocaña    51    H   62.0    2.72       276.0
7             Pilar Martín González    22    M   60.0    2.66         NaN
8              Pedro Gálvez Tenorio    35    H   90.0    2.94       241.0
9           Santiago Reillo Manzano    46    H   75.0    2.85       280.0
10            Macarena Álvarez Luna    53    M   55.0    2.62       262.0
11       José María de la Guía Sanz    58    H   78.0    2.87       198.0
12  Miguel Angel Cuadrado Gutiérrez    27    H  109.0    2.98       210.0
13            Carolina Rubio Moreno    20    M   61.0    2.77       194.0

   diabetes
0     False
1     False
2      True
3     False
4      True
5       NaN
6       NaN
7       NaN
8       NaN
9       NaN
10      NaN
11      NaN
12      NaN
13      NaN

In [149]:
df5['altura']*100

0     279.0
1     273.0
2     281.0
3     270.0
4     258.0
5     274.0
6     272.0
7     266.0
8     294.0
9     285.0
10    262.0
11    287.0
12    298.0
13    277.0
Name: altura, dtype: float64

In [150]:
df5['sexo']=='H'

0      True
1     False
2      True
3     False
4     False
5      True
6      True
7     False
8      True
9      True
10    False
11     True
12     True
13    False
Name: sexo, dtype: bool

In [151]:
df5['altura'].apply(np.log)

0     1.026042
1     1.004302
2     1.033184
3     0.993252
4     0.947789
5     1.007958
6     1.000632
7     0.978326
8     1.078410
9     1.047319
10    0.963174
11    1.054312
12    1.091923
13    1.018847
Name: altura, dtype: float64

In [152]:
df6 = pd.DataFrame({'Name': ['María', 'Carlos', 'Carmen'], 'Nacimiento':['05-03-2000', '20-05-2001', '10-12-1999']})

In [153]:
print(df6)

     Name  Nacimiento
0   María  05-03-2000
1  Carlos  20-05-2001
2  Carmen  10-12-1999

In [154]:
df6.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        3 non-null      object
 1   Nacimiento  3 non-null      object
dtypes: object(2)
memory usage: 180.0+ bytes

In [155]:
df6['Nacimiento']=pd.to_datetime(df6.Nacimiento, format='%d-%m-%Y')

In [156]:
print(df6)

     Name Nacimiento
0   María 2000-03-05
1  Carlos 2001-05-20
2  Carmen 1999-12-10

In [157]:
dfu = pd.read_csv("ncr_ride_bookings.csv")

In [158]:
dfu.head(10)

,Date,Time,Booking ID,Booking Status,Customer ID,Vehicle Type,Pickup Location,Drop Location,Avg VTAT,Avg CTAT,...,Reason for cancelling by Customer,Cancelled Rides by Driver,Driver Cancellation Reason,Incomplete Rides,Incomplete Rides Reason,Booking Value,Ride Distance,Driver Ratings,Customer Rating,Payment Method
0,2024-03-23,12:29:38,"""CNR5884300""",No Driver Found,"""CID1982111""",eBike,Palam Vihar,Jhilmil,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2024-11-29,18:01:39,"""CNR1326809""",Incomplete,"""CID4604802""",Go Sedan,Shastri Nagar,Gurgaon Sector 56,4.9,14.0,...,NaN,NaN,NaN,1.0,Vehicle Breakdown,237.0,5.73,NaN,NaN,UPI
2,2024-08-23,08:56:10,"""CNR8494506""",Completed,"""CID9202816""",Auto,Khandsa,Malviya Nagar,13.4,25.8,...,NaN,NaN,NaN,NaN,NaN,627.0,13.58,4.9,4.9,Debit Card
3,2024-10-21,17:17:25,"""CNR8906825""",Completed,"""CID2610914""",Premier Sedan,Central Secretariat,Inderlok,13.1,28.5,...,NaN,NaN,NaN,NaN,NaN,416.0,34.02,4.6,5.0,UPI
4,2024-09-16,22:08:00,"""CNR1950162""",Completed,"""CID9933542""",Bike,Ghitorni Village,Khan Market,5.3,19.6,...,NaN,NaN,NaN,NaN,NaN,737.0,48.21,4.1,4.3,UPI
5,2024-02-06,09:44:56,"""CNR4096693""",Completed,"""CID4670564""",Auto,AIIMS,Narsinghpur,5.1,18.1,...,NaN,NaN,NaN,NaN,NaN,316.0,4.85,4.1,4.6,UPI
6,2024-06-17,15:45:58,"""CNR2002539""",Completed,"""CID6800553""",Go Mini,Vaishali,Punjabi Bagh,7.1,20.4,...,NaN,NaN,NaN,NaN,NaN,640.0,41.24,4.0,4.1,UPI
7,2024-03-19,17:37:37,"""CNR6568000""",Completed,"""CID8610436""",Auto,Mayur Vihar,Cyber Hub,12.1,16.5,...,NaN,NaN,NaN,NaN,NaN,136.0,6.56,4.4,4.2,UPI
8,2024-09-14,12:49:09,"""CNR4510807""",No Driver Found,"""CID7873618""",Go Sedan,Noida Sector 62,Noida Sector 18,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2024-12-16,19:06:48,"""CNR7721892""",Incomplete,"""CID5214275""",Auto,Rohini,Adarsh Nagar,6.1,26.0,...,NaN,NaN,NaN,1.0,Other Issue,135.0,10.36,NaN,NaN,Cash

In [159]:
dfu.iloc[:, 1].info()

<class 'pandas.core.series.Series'>
RangeIndex: 150000 entries, 0 to 149999
Series name: Time
Non-Null Count   Dtype
--------------   -----
150000 non-null  object
dtypes: object(1)
memory usage: 1.1+ MB

In [160]:
dfu["Time"] = pd.to_datetime(dfu["Time"])

C:\Users\Pilares\AppData\Local\Temp\ipykernel_11496\3316810569.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  dfu["Time"] = pd.to_datetime(dfu["Time"])

In [161]:
dfu.head(10)

,Date,Time,Booking ID,Booking Status,Customer ID,Vehicle Type,Pickup Location,Drop Location,Avg VTAT,Avg CTAT,...,Reason for cancelling by Customer,Cancelled Rides by Driver,Driver Cancellation Reason,Incomplete Rides,Incomplete Rides Reason,Booking Value,Ride Distance,Driver Ratings,Customer Rating,Payment Method
0,2024-03-23,2025-08-28 12:29:38,"""CNR5884300""",No Driver Found,"""CID1982111""",eBike,Palam Vihar,Jhilmil,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2024-11-29,2025-08-28 18:01:39,"""CNR1326809""",Incomplete,"""CID4604802""",Go Sedan,Shastri Nagar,Gurgaon Sector 56,4.9,14.0,...,NaN,NaN,NaN,1.0,Vehicle Breakdown,237.0,5.73,NaN,NaN,UPI
2,2024-08-23,2025-08-28 08:56:10,"""CNR8494506""",Completed,"""CID9202816""",Auto,Khandsa,Malviya Nagar,13.4,25.8,...,NaN,NaN,NaN,NaN,NaN,627.0,13.58,4.9,4.9,Debit Card
3,2024-10-21,2025-08-28 17:17:25,"""CNR8906825""",Completed,"""CID2610914""",Premier Sedan,Central Secretariat,Inderlok,13.1,28.5,...,NaN,NaN,NaN,NaN,NaN,416.0,34.02,4.6,5.0,UPI
4,2024-09-16,2025-08-28 22:08:00,"""CNR1950162""",Completed,"""CID9933542""",Bike,Ghitorni Village,Khan Market,5.3,19.6,...,NaN,NaN,NaN,NaN,NaN,737.0,48.21,4.1,4.3,UPI
5,2024-02-06,2025-08-28 09:44:56,"""CNR4096693""",Completed,"""CID4670564""",Auto,AIIMS,Narsinghpur,5.1,18.1,...,NaN,NaN,NaN,NaN,NaN,316.0,4.85,4.1,4.6,UPI
6,2024-06-17,2025-08-28 15:45:58,"""CNR2002539""",Completed,"""CID6800553""",Go Mini,Vaishali,Punjabi Bagh,7.1,20.4,...,NaN,NaN,NaN,NaN,NaN,640.0,41.24,4.0,4.1,UPI
7,2024-03-19,2025-08-28 17:37:37,"""CNR6568000""",Completed,"""CID8610436""",Auto,Mayur Vihar,Cyber Hub,12.1,16.5,...,NaN,NaN,NaN,NaN,NaN,136.0,6.56,4.4,4.2,UPI
8,2024-09-14,2025-08-28 12:49:09,"""CNR4510807""",No Driver Found,"""CID7873618""",Go Sedan,Noida Sector 62,Noida Sector 18,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2024-12-16,2025-08-28 19:06:48,"""CNR7721892""",Incomplete,"""CID5214275""",Auto,Rohini,Adarsh Nagar,6.1,26.0,...,NaN,NaN,NaN,1.0,Other Issue,135.0,10.36,NaN,NaN,Cash

In [163]:
dfu.iloc[:, 1].info()

<class 'pandas.core.series.Series'>
RangeIndex: 150000 entries, 0 to 149999
Series name: Time
Non-Null Count   Dtype
--------------   -----
150000 non-null  datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 1.1 MB

In [ ]:
hinicio = time(6, 0, 0)
hfinal = time(12, 0, 0)
mascara = (dfu["Time"].dt.time >= hinicio) & (dfu["Time"].dt.time <= hfinal)

In [168]:
dfu6to12 = dfu.loc[mascara]

In [170]:
dfu6to12

,Date,Time,Booking ID,Booking Status,Customer ID,Vehicle Type,Pickup Location,Drop Location,Avg VTAT,Avg CTAT,...,Reason for cancelling by Customer,Cancelled Rides by Driver,Driver Cancellation Reason,Incomplete Rides,Incomplete Rides Reason,Booking Value,Ride Distance,Driver Ratings,Customer Rating,Payment Method
2,2024-08-23,2025-08-28 08:56:10,"""CNR8494506""",Completed,"""CID9202816""",Auto,Khandsa,Malviya Nagar,13.4,25.8,...,NaN,NaN,NaN,NaN,NaN,627.0,13.58,4.9,4.9,Debit Card
5,2024-02-06,2025-08-28 09:44:56,"""CNR4096693""",Completed,"""CID4670564""",Auto,AIIMS,Narsinghpur,5.1,18.1,...,NaN,NaN,NaN,NaN,NaN,316.0,4.85,4.1,4.6,UPI
11,2024-09-18,2025-08-28 08:09:38,"""CNR9551927""",No Driver Found,"""CID7568143""",Auto,Vidhan Sabha,AIIMS,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,2024-07-01,2025-08-28 10:51:16,"""CNR3221338""",Completed,"""CID2581698""",Premier Sedan,IGI Airport,Madipur,5.6,27.5,...,NaN,NaN,NaN,NaN,NaN,401.0,21.97,4.9,4.3,UPI
18,2024-11-24,2025-08-28 09:07:10,"""CNR6126048""",Cancelled by Customer,"""CID1060329""",eBike,Kashmere Gate,Anand Vihar,12.4,NaN,...,Driver is not moving towards pickup location,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149988,2024-08-17,2025-08-28 10:43:13,"""CNR5410567""",Completed,"""CID6192221""",Bike,Udyog Bhawan,Lal Quila,13.4,26.6,...,NaN,NaN,NaN,NaN,NaN,96.0,27.72,4.3,4.2,UPI
149989,2024-07-22,2025-08-28 10:04:18,"""CNR2531850""",Completed,"""CID7189367""",Auto,Shahdara,Panchsheel Park,14.2,22.8,...,NaN,NaN,NaN,NaN,NaN,75.0,8.33,4.2,4.9,Credit Card
149993,2024-05-03,2025-08-28 11:18:17,"""CNR9715958""",Completed,"""CID8835432""",Go Mini,Tughlakabad,Jama Masjid,13.2,20.1,...,NaN,NaN,NaN,NaN,NaN,280.0,29.89,4.1,4.7,Cash
149997,2024-09-18,2025-08-28 10:55:15,"""CNR6358306""",Completed,"""CID9925486""",Go Sedan,Satguru Ram Singh Marg,Jor Bagh,2.7,23.4,...,NaN,NaN,NaN,NaN,NaN,852.0,15.93,3.9,4.4,Cash
149998,2024-10-05,2025-08-28 07:53:34,"""CNR3030099""",Completed,"""CID9415487""",Auto,Ghaziabad,Saidulajab,6.9,39.6,...,NaN,NaN,NaN,NaN,NaN,333.0,45.54,4.1,3.7,UPI

In [172]:
dfu6to12.count()

Date                                 42673
Time                                 42673
Booking ID                           42673
Booking Status                       42673
Customer ID                          42673
Vehicle Type                         42673
Pickup Location                      42673
Drop Location                        42673
Avg VTAT                             39665
Avg CTAT                             29110
Cancelled Rides by Customer           2961
Reason for cancelling by Customer     2961
Cancelled Rides by Driver             7594
Driver Cancellation Reason            7594
Incomplete Rides                      2566
Incomplete Rides Reason               2566
Booking Value                        29110
Ride Distance                        29110
Driver Ratings                       26544
Customer Rating                      26544
Payment Method                       29110
dtype: int64

In [199]:
def ridesXtoY(hora_inicial, hora_final, minuto_inicial = 0, segundo_inicial = 0, minuto_final = 0, segundo_final = 0):
    hinicio = time(hora_inicial, minuto_inicial, segundo_inicial)
    hfinal = time(hora_final, minuto_final, segundo_final)
    mask = (dfu["Time"].dt.time >= hinicio) & (dfu["Time"].dt.time <= hfinal)
    return dfu.loc[mask]

In [201]:
ridesXtoY(18, 23, minuto_final=59, segundo_final = 59)

,Date,Time,Booking ID,Booking Status,Customer ID,Vehicle Type,Pickup Location,Drop Location,Avg VTAT,Avg CTAT,...,Reason for cancelling by Customer,Cancelled Rides by Driver,Driver Cancellation Reason,Incomplete Rides,Incomplete Rides Reason,Booking Value,Ride Distance,Driver Ratings,Customer Rating,Payment Method
1,2024-11-29,2025-08-28 18:01:39,"""CNR1326809""",Incomplete,"""CID4604802""",Go Sedan,Shastri Nagar,Gurgaon Sector 56,4.9,14.0,...,NaN,NaN,NaN,1.0,Vehicle Breakdown,237.0,5.73,NaN,NaN,UPI
4,2024-09-16,2025-08-28 22:08:00,"""CNR1950162""",Completed,"""CID9933542""",Bike,Ghitorni Village,Khan Market,5.3,19.6,...,NaN,NaN,NaN,NaN,NaN,737.0,48.21,4.1,4.3,UPI
9,2024-12-16,2025-08-28 19:06:48,"""CNR7721892""",Incomplete,"""CID5214275""",Auto,Rohini,Adarsh Nagar,6.1,26.0,...,NaN,NaN,NaN,1.0,Other Issue,135.0,10.36,NaN,NaN,Cash
12,2024-06-25,2025-08-28 22:44:15,"""CNR4386945""",Cancelled by Driver,"""CID5543520""",eBike,Patel Chowk,Kherki Daula Toll,4.6,NaN,...,NaN,1.0,Personal & Car related issues,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,2024-09-11,2025-08-28 19:29:39,"""CNR2987763""",Completed,"""CID2669710""",Go Mini,Malviya Nagar,Ghitorni Village,12.2,28.2,...,NaN,NaN,NaN,NaN,NaN,394.0,21.44,4.1,4.7,UPI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149976,2024-10-30,2025-08-28 19:44:00,"""CNR3043146""",Completed,"""CID8125624""",Go Sedan,Tagore Garden,Dilshad Garden,9.3,23.8,...,NaN,NaN,NaN,NaN,NaN,510.0,7.69,4.2,4.6,UPI
149983,2024-03-23,2025-08-28 20:33:36,"""CNR1937316""",Completed,"""CID7955264""",Go Mini,Gurgaon Railway Station,Azadpur,3.0,27.5,...,NaN,NaN,NaN,NaN,NaN,581.0,25.10,4.3,5.0,Credit Card
149987,2024-02-06,2025-08-28 19:51:00,"""CNR1535042""",Completed,"""CID8787495""",Go Mini,Sushant Lok,Jama Masjid,2.3,19.9,...,NaN,NaN,NaN,NaN,NaN,101.0,10.69,4.2,4.5,UPI
149992,2024-01-24,2025-08-28 18:02:28,"""CNR1717894""",No Driver Found,"""CID9564749""",Go Mini,Nehru Place,Aya Nagar,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
149995,2024-11-11,2025-08-28 19:34:01,"""CNR6500631""",Completed,"""CID4337371""",Go Mini,MG Road,Ghitorni,10.2,44.4,...,NaN,NaN,NaN,NaN,NaN,475.0,40.08,3.7,4.1,Uber Wallet

In [202]:
ridesXtoY(6, 12)

,Date,Time,Booking ID,Booking Status,Customer ID,Vehicle Type,Pickup Location,Drop Location,Avg VTAT,Avg CTAT,...,Reason for cancelling by Customer,Cancelled Rides by Driver,Driver Cancellation Reason,Incomplete Rides,Incomplete Rides Reason,Booking Value,Ride Distance,Driver Ratings,Customer Rating,Payment Method
2,2024-08-23,2025-08-28 08:56:10,"""CNR8494506""",Completed,"""CID9202816""",Auto,Khandsa,Malviya Nagar,13.4,25.8,...,NaN,NaN,NaN,NaN,NaN,627.0,13.58,4.9,4.9,Debit Card
5,2024-02-06,2025-08-28 09:44:56,"""CNR4096693""",Completed,"""CID4670564""",Auto,AIIMS,Narsinghpur,5.1,18.1,...,NaN,NaN,NaN,NaN,NaN,316.0,4.85,4.1,4.6,UPI
11,2024-09-18,2025-08-28 08:09:38,"""CNR9551927""",No Driver Found,"""CID7568143""",Auto,Vidhan Sabha,AIIMS,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,2024-07-01,2025-08-28 10:51:16,"""CNR3221338""",Completed,"""CID2581698""",Premier Sedan,IGI Airport,Madipur,5.6,27.5,...,NaN,NaN,NaN,NaN,NaN,401.0,21.97,4.9,4.3,UPI
18,2024-11-24,2025-08-28 09:07:10,"""CNR6126048""",Cancelled by Customer,"""CID1060329""",eBike,Kashmere Gate,Anand Vihar,12.4,NaN,...,Driver is not moving towards pickup location,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149988,2024-08-17,2025-08-28 10:43:13,"""CNR5410567""",Completed,"""CID6192221""",Bike,Udyog Bhawan,Lal Quila,13.4,26.6,...,NaN,NaN,NaN,NaN,NaN,96.0,27.72,4.3,4.2,UPI
149989,2024-07-22,2025-08-28 10:04:18,"""CNR2531850""",Completed,"""CID7189367""",Auto,Shahdara,Panchsheel Park,14.2,22.8,...,NaN,NaN,NaN,NaN,NaN,75.0,8.33,4.2,4.9,Credit Card
149993,2024-05-03,2025-08-28 11:18:17,"""CNR9715958""",Completed,"""CID8835432""",Go Mini,Tughlakabad,Jama Masjid,13.2,20.1,...,NaN,NaN,NaN,NaN,NaN,280.0,29.89,4.1,4.7,Cash
149997,2024-09-18,2025-08-28 10:55:15,"""CNR6358306""",Completed,"""CID9925486""",Go Sedan,Satguru Ram Singh Marg,Jor Bagh,2.7,23.4,...,NaN,NaN,NaN,NaN,NaN,852.0,15.93,3.9,4.4,Cash
149998,2024-10-05,2025-08-28 07:53:34,"""CNR3030099""",Completed,"""CID9415487""",Auto,Ghaziabad,Saidulajab,6.9,39.6,...,NaN,NaN,NaN,NaN,NaN,333.0,45.54,4.1,3.7,UPI